<p>Dear {{user.name}},
<br/><br/>
Here is the assignment detail:<br/><br/>
<b>Project : </b> {{project}}<br/><br/>
<b>Topic ID : </b> {{topic}}<br/><br/>
<b>Number of assignment : </b> {{count}}<br/><br/>
TOPIC BINDER <br/><br/>
</p>